.pending-wrapper {
    position: relative;
    min-height: 200px;
}

.pending-overlap {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}

.pending-overlap.ng-hide-animate {
    -webkit-transition: all ease 200ms;
    -moz-transition: all ease 200ms;
    -ms-transition: all ease 200ms;
    -o-transition: all ease 200ms;
    transition: all ease 200ms;
}

.pending-overlap.ng-hide {
    opacity: 0;
}

/*.pending-overlap.ng-hide-animate.ng-hide-remove {*/
/*opacity: 0;*/
/*}*/

/*.pending-overlap.ng-hide-animate.ng-hide-remove-active {*/
/*opacity: 1;*/
/*}*/

/*.pending-overlap.ng-hide-animate.ng-hide-add {*/
/*opacity: 1;*/
/*}*/

/*.pending-overlap.ng-hide-animate.ng-hide-add-active {*/
/*opacity: 0;*/
/*}*/

.center-wrap {
    display: table;
    width: 100%;
    height: 100%;
}

.centered {
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}